<!--     Author- Aryan Patel       -->
<!--     StudentID-301226774     -->
<footer>
  <!-- foorter name and year -->
  <p>
     &copy;<script>new Date().getFullYear()>document.write(new Date().getFullYear());</script>, aryanPatel.
  </p>


</footer>

