<!--     Author- Aryan Patel       -->
<!--     StudentID-301226774     -->

<header class='header-nav'>
<!-- theme button -->
  <div class='toggle-container'>
    <input type='checkbox' id='switch' name='theme'/><label for='switch'>Toggle</label>
  </div>
<!-- navigation bar button -->
  <div class='menu-btn'>
    <div class='btn-line'></div>
    <div class='btn-line'></div>
    <div class='btn-line'></div>
  </div>

  <nav class='menu'>
    <!-- peronal logo -->
    <div class='menu-branding'>
      <div class='portrait'></div>
    </div>
    <!-- all pages link -->
    <ul class='menu-nav'>
      <li class='nav-item'>
        <a href='/home' class='nav-link'>Home</a>
      </li>
      <li class='nav-item'>
        <a href='/about' class='nav-link'>About</a>
      </li>
      <li class='nav-item'>
        <a href='/projects' class='nav-link'>Portfolio</a>
      </li>
      <li class='nav-item'>
        <a href='/services' class='nav-link'>Service</a>
      </li>
      <li class='nav-item'>
        <a href='/contact' class='nav-link'>Contact</a>
      </li>
      <li class='nav-item'>
        <a href='/ARYAN_Resume.pdf' class='nav-link' target='_blank'>Resume</a>
      </li>
    </ul>
  </nav>

</header>
