<main id='myWork'>
  <div class='myWork-container'>
    <h1 class='lg-heading myWork-heading'>My <span class='text-secondary'>Project</span></h1>
    <div class='bg-myWork'></div>
    <h2 class='sm-heading myWork__title'>
		I'm specializing in <b>Fullstack</b> web development. This is sort of my project I've been working on lately.
    </h2>
  </div>
</main>

<section class='myWork-section' style="display: -webkit-inline-box !important; margin-top: 20rem;">
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
      <h1>Calender.quicko</h1>
      <p>This is IT calender for all due dates</p>
      <ul>
        <li>HTML5</li>
          <li>SASS</li>
          <li>TypeScript</li>
          <li>Angular10</li>
          <li>JSON</li>
      </ul>
      <img src="/img/CalenderQuicko.png" alt=''>
       <a class='icon-fa btn'  ref='https://calendar.quicko.com/' target='_blan'>
      <i class='fab fa-edge fa-3x'></i>
    </a>
      
    </article>
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
      <h1>Mahindra 700 configurator</h1>
      <p>This is car Configurator. Where you can see 3d car and add different Accessories and book the car. </p>
      <ul>
        
          <li>HTML5</li>
          <li>SASS</li>
          <li>TypeScript</li>
          <li>Angular10</li>
          <li>JSON</li>
       
      </ul>
      <img src="/img/Mahindra700.png" alt=''>
       <a class='icon-fa btn'  ref='https://auto.mahindra.com/configuration/#/configuration' target='_blan'>
      <i class='fab fa-edge fa-3x'></i>
    </a>
      
    </article>
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
      <h1>Tata Punch Bookonline</h1>
      <p>This is Online booking platform for Tata punch</p>
      <ul>
         <li>HTML5</li>
          <li>SASS</li>
          <li>TypeScript</li>
          <li>Angular10</li>
          <li>JSON</li>
      </ul>
      <img src="/img/TataPunch.png" alt=''>
       <a class='icon-fa btn'  ref='https://bookonline.tatamotors.com/punch/#/variant' target='_blan'>
      <i class='fab fa-edge fa-3x'></i>
    </a>
      
    </article>
  

</section>
