<!--     Author- Aryan Patel       -->
<!--     StudentID-301226774     -->

<main id='myWork'>
    <!-- Content -->
    <div class='myWork-container'>
      <h1 class='lg-heading myWork-heading'>My <span class='text-secondary'>Project</span></h1>
      <div class='bg-myWork'></div>
      <h2 class='sm-heading myWork__title'>
          I'm specializing in <b>Fullstack</b> web development. This is sort of my project I've been working on lately.
      </h2>
    </div>
  </main>
  <!-- all proejcts -->
  <section class='myWork-section' style="display: -webkit-inline-box !important; margin-top: 20rem;">
      <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
        <h1>Calender.quicko</h1>
        <p>This is IT calender for all due dates</p>
        <ul>
          <li>HTML5</li>
            <li>SASS</li>
            <li>TypeScript</li>
            <li>Angular10</li>
            <li>JSON</li>
        </ul>
        <img src="./Assets/images/CalenderQuicko.png" alt=''>
         <a class='icon-fa btn'  href='https://calendar.quicko.com/' target='_blan'>
        <i class='fab fa-edge fa-3x'></i>
      </a>
        
      </article>
      <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
        <h1>Mahindra 700 configurator</h1>
        <p>This is car Configurator. Where you can see 3d car and add different Accessories and book the car. </p>
        <ul>
          
            <li>HTML5</li>
            <li>SASS</li>
            <li>TypeScript</li>
            <li>Angular10</li>
            <li>JSON</li>
         
        </ul>
        <img src="./Assets/images/Mahindra700.png" alt=''>
         <a class='icon-fa btn'  href='https://auto.mahindra.com/configuration/#/configuration' target='_blan'>
        <i class='fab fa-edge fa-3x'></i>
      </a>
        
      </article>
      <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
        <h1>Tata Punch Bookonline</h1>
        <p>This is Online booking platform for Tata punch</p>
        <ul>
           <li>HTML5</li>
            <li>SASS</li>
            <li>TypeScript</li>
            <li>Angular10</li>
            <li>JSON</li>
        </ul>
        <img src="./Assets/images/TataPunch.png" alt=''>
         <a class='icon-fa btn'  href='https://bookonline.tatamotors.com/punch/#/variant' target='_blan'>
        <i class='fab fa-edge fa-3x'></i>
      </a>
        
      </article>
    
  
  </section>
  